html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url('../Home/bg-home.jpg'); */
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  /* Additional styles */
}
.banner {
  background-color: rgba(255, 118, 189, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.cdacImg {
  border-radius: 20px;
  border: 4px solid white;
  max-width: 100%;
  max-height: 100%;
}

.content-img {
  height: 400px;
  width: 500px;
  border-radius: 20px;
  margin: 0 30px 0 0;
  /* border: 2px solid red; */
}

.content {
  height: 500px;
  width: 60%;
  line-height: 25px;
  font-size: large;
  padding: 30px;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

.content-main-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

.content-main-div p {
  text-align: left;
  padding-left: 10px;
}

.cardIcon {
  height: 50px;
  width: 50px;
  align-items: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 300px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.card-content {
  margin-top: 0.5rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  background-color: rgba(255, 118, 189, 0.9);
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  width: 500px;
  height: 70px;
  margin: 20px auto;
  text-align: center;
}

/* Adjust styles for smaller screens */
@media only screen and (max-width: 600px) {
  .heading {
    padding: 8px 15px;
    max-width: 250px;
    font-size: 18px;
  }
}

.card-div {
  margin-top: 50px;
}

.content {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 15px;
  }

  .content h1 {
    font-size: 20px;
  }

  .content p {
    font-size: 14px;
  }
}
